*{
    box-sizing: border-box;
}

body{
    margin: 0;
   
   
}

.organiz{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #9E2121; 
  
}

#organizVideo{
    
    height: 80vh;
    width: 100%;
}


header{

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 0px;
    background-color:transparent;
    border-bottom:1px solid white ;
    opacity: 0;
    transform: translate(12%);
    top: 0;
    left: 0;
   
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

header div{
    position: relative;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div span{
    position:absolute;
}


header div:hover{
    background-color: white;
    transition: ease-in-out 1s;
   
}

header div:hover a{
    color: #9E2121;
    transition: ease-in-out 1s;
   
}

header div span:nth-child(1){

bottom: 0;
left: 0;
height: 100%;
width: 2px;
background-color: white;
transform: scaleY(0);
transform-origin: bottom;
transition: transform 0.25s;

}

header div:hover span:nth-child(1){
    transform: scaleY(1);
transform-origin: bottom;
transition: transform 0.25s;
}

header div span:nth-child(2){

    top: 0;
    left: 0;
    height:2px;
    width:100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    
    }

    header div:hover span:nth-child(2){
        transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
    }

    header div span:nth-child(3){

        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: white;
        transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
        
        }

        header div:hover span:nth-child(3){
            transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.25s;
        }


        header div span:nth-child(4){

            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.25s;
            
            }

            header div:hover span:nth-child(4){
                transform: scaleX(1);
            transform-origin: right;
            transition: transform 0.25s;
            }
    
        

.organiz img{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 230px;
    max-width: 20%;
    animation: tourne 12s linear infinite;
    
      
}

#tech{
    position: absolute;
    left: 18%;
    bottom: 30%;
    width: 150px;
    max-width: 23%;
    animation: tourneInverse 8s linear infinite;
}

#tech2{
    position: absolute;
    left: 20%;
    bottom: 17.5%;
    width: 90px;
    max-width: 20%;
    animation: tourne 3s linear infinite;
}



@keyframes tourneInverse {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*******************************************qui somme nous ?***************************************************************/

#qui{
    min-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    

}


#qui div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
    

}


#qui div h1{
    margin:20px;
    color: #9E2121;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    text-align: center;
}

#qui div h2{
    
    color: rgb(163, 163, 163);
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    text-align: center;
}

#qui article{
    width:100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#qui article div{
    position: relative;
    width: 400px;
    max-width: 90%;
    margin: 50px;
    height: 400px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

@media(max-width:400px){
  

 #qui article div{
    height: 300px;
  }

  #qui article div:nth-child(2){
    margin-bottom: 10px;
  }

}

#qui article div:nth-child(1){
   
    background-image: url(./images/facture.jpg);
    background-position: center;
    background-size: cover;
}

#qui article div:nth-child(2){
   
    background-image: url(./images/time.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 250px;
}

#qui article div:nth-child(3){
    
    background-image: url(./images/productivity.jpg);
    background-position: center;
    background-size: cover;
}


#qui article div:nth-child(1) .hover1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #9E2121;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    opacity: 0;
}


#qui article div:nth-child(2) .hover2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #9E2121;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    opacity: 0;
}

#qui article div:nth-child(3) .hover3{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #9E2121;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    opacity: 0;
}

.hover1 p{
    color: white;
    width: 80%;
    font-family: 'Playfair Display', serif;
    text-align: center;

}
.hover2 p{
    color: white;
    width: 80%;
    font-family: 'Playfair Display', serif;
    text-align: center;

}
.hover3 p{
    color: white;
    width: 80%;
    font-family: 'Playfair Display', serif;
    text-align: center;

}


#qui article div:nth-child(1) .hover1 .titreHover{
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
#qui article div:nth-child(2) .hover2 .titreHover{
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#qui article div:nth-child(3) .hover3 .titreHover{
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}


#qui article div:nth-child(1):hover .hover1{
    cursor: pointer;
    opacity: 0.8;
    
}

#qui article div:nth-child(2):hover .hover2{
    cursor: pointer;
    opacity: 0.8;
    
}
#qui article div:nth-child(3):hover .hover3{
    cursor: pointer;
    opacity: 0.8;
    
}

/******************************************************formulaire************************************************/

#sect4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    
    background-image: url();
    background-position: right;
    
    background-size: cover;
  }

  #sect4 .titreSect2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    align-self: center;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-bottom: 150px;
    border-radius: 50%;
    border: solid 3px #9E2121;
    background-color: #9E2121;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
    width: 100%;
 
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    min-height: 60vh;
  }
  
  .input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 60vh;
  }
  
  .input input {
    margin-bottom: 20px;
    border: #9E2121 3px solid;
  }
  
  .saisie > * {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    min-width: 300px;
  }
  
  .textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    min-width: 300px;
  }
  
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: auto;
    border: #9E2121 3px solid;
  }
  
  .saisie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 300px;
    height: 50vh;
  }
  
  .bouton {
    position: relative;
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 15px;
    letter-spacing: 5px;
    color: #9E2121;
    margin: 20px;
  }
  
  .bouton span {
    position: absolute;
    background-color: rgb(158, 33, 33);
  }
  
  .bouton span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .bouton:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(3) {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
  }
  
  .bouton span:nth-child(4) {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }
  
  .bouton:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
  }
  
  .bouton:hover {
    background-color: #9E2121;
    color: white;
    transition: 1s ease-in-out;
    cursor: pointer;
  }

  /*************************************************footer*******************************************************************/

  footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #9E2121;

  }

  footer p{
    color: white;
    font-family: 'Playfair Display', serif;
  }
  