* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./images/mail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

body p{
    position: absolute;
    font-family: 'Bangers', cursive;
    color: white;
    bottom: 50px;
    font-size: 2vw;
    left: 50%;
    transform: translate(-50%);
}
